# Python cache
__pycache__/

# Build directories
build/
cmake-*/

# pre-commit caches
.ruff_cache/

# Tests and coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
coverage.xml
.pytest_cache/

# Python Environments
venv/
.venv/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# PyCharm
.idea/

# VsCode
.vscode/

# Custom
sandbox/

# Sphinx
docs/_*
docs/auto_examples/
